<div class="container cols-sp-bw">
    <div class="footer__col">
        <p class="footer__text">Компания ООО “SmartFin”</p>
        <p class="footer__text">Номер компании</p>
        <p class="footer__text">7 (3822) 25-22-33</p>
    </div>
    <div class="footer__col">
        <p class="footer__text">Наши соцсети:</p>
        <p class="icon-vk">
            <a href="#" class="footer__link ">vk.com/SmartFin</a>
        </p>
        <p class="icon-tg">
            <a href="#" class="footer__link ">7 (3822) 25-22-33</a>
        </p>
    </div>
</div>
